.container{
	display: grid;
	background-color: lightblue;
	justify-content: center;
	justify-items: center;
	grid-column-gap: 15px;
	grip-row-gap:15px;
	grid-template-columns: 15% auto auto auto auto 15%;
	grid-template-rows: auto auto 100px auto 100px auto;
	grid-template-areas: ". header header header header . "
						 ". text1 text1 . sidebar ."
						 ". . . . . ."
						 ". info1 info2 info3 info3 ."
						 ". . . . . ."
						 ". footer footer footer footer  ."
}



.a{
	grid-area: header;
}


.b{
	grid-area: text1;
}


.c{
	grid-area: sidebar;
}


.d{
	grid-area: info1;
}

.e{
	grid-area: info2;
}

.f{
	grid-area: info3;
}

.g{
	grid-area: footer;
}

p {
	font-size: 75px;
	font-family: Helvetica;
}

a{
	font-family: Helvetica;
}

#a1{
	font-size: 35px;
}

#a2{
	font-size: 25px;
}

#a4{
	font-size: 20px;
}

#a5{
	font-size: 20px;
}

#a6{
	font-size: 15px;
}